// Define variables for your color scheme

// For example:
// changed red
$red: #C13144;
$blue: #3fabc6;
// changed yellow
$yellow: #408305;
$orange: #FFCB47;
// changed green
$green: #74e575;

// changed gray
$gray: #C7CAC5;
$dark-gray: #686868;
$light-gray: #F4F4F4;
