// Define variables for your color scheme

// For example:
// changed red
$red: #C13144;
$blue: #469AE0;
// changed yellow
$yellow: #408305;
$orange: #E67E22;
// changed green
$green: #408305;
// changed gray
$gray: #C7CAC5;
$light-gray: #F4F4F4;
