/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    // background-color: #4CAF50;
    // color: white;
    // padding: 12px 20px;
    // border: none;
    // border-radius: 4px;
    // cursor: pointer;
    background: linear-gradient(to top, #60d364, #9fdf6d);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 9px 15px;
    margin: 25px;
    text-transform: uppercase;
    min-width: 50%;
    box-shadow: 1px 1px 1px #96a3a8;
    letter-spacing: 1.1px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  // background-color: #45a049;
  color: $light-gray;
}
/* Add a background color and some padding around the form */
