/* Removing padding and margin from
the specified elements: */
html,
body {
    color: $dark-gray;
    // text-transform: uppercase;
}

a {
  // color: rgb(255, 255, 255);
  color: $dark-gray;
  text-decoration: none;
}

a:hover {
   color:rgb(255, 255, 255);
   text-decoration:none;
   cursor:pointer;
}

#valor {
  font-size: 12px;
  text-align: center;
  margin-top: 0px;
  background-color: #dbdada;
  padding: 7px;
  box-shadow: 2px 2px 3px black;
}

.icons {
  width: 18px;
  height: 18px;
}

.space p {
  margin: 15px 0 0 0;
  padding-right: 5px;
  // border-bottom: 1px solid black;
}

.nutrient-section {
  position: relative;
  height: 50px;
}

.nutrient-section:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 60%;
  left: 20%;
  height: 1px;
  background-color: $gray;
}

// not displaying last gray line
.nutrient-section:nth-last-child(1):after {
  height: 0px;
}

// .button-space {
//   margin: 0;
//   padding: 0;
//   height: 40px;
// }

.line {
  padding: 50px 0 20px;
  text-align: center;
  text-transform: uppercase;

}

.line  p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

hr {
  border: 0;
  border-top: 1px solid #C7CAC5;
  margin: 10px;
}

#heart {
  color: $dark-gray;
}

.photo-container{
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  // position: relative;
}

.photo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  padding: 10px 0 0 10px;

  // height:100%;
  // min-height: 0%;
  // max-height: 300px;
  // overflow: hidden;
  // width: 50%;
  // margin:10px;
}

.grade-image {
  max-width: 35%;
  height:auto;
  overflow: hidden;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  // position: relative;
  // left: -65px;
  // width: 50%;
  // margin:10px;
}

// .product {
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.separator {
  margin-top: 0px;
  background-color: #686868;
  color: white;
  height: 40px;
  box-shadow: 2px 2px 3px black;
  text-align: center;
  p {
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  // vertical-align: middle;
}

.chemical-click {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.button-chemical {
   width: 20%;
    background: $light-gray;
    padding: 8px;
    margin: 10px 5px;
    border-radius: 5px;
    box-shadow:  -2px 2px 2px rgba(0, 0, 0, 0.25), 2px 4px 1px rgba(0, 0, 0, 0.25);
    color: $dark-gray;
    font-weight: 400;
    text-align: center;
}

.button-chemical-good {
    background: #74E575;
    background: $green;
}

.button-chemical-medium {
  background: $orange;
}

.button-chemical-bad {
  background: $red;
  color: #ffffff;
}

#redish a {
  color: white;
}
.button-chemical-unknown {
  background: $dark-gray;
  color: #ffffff;
}

#add-white {
  color: white;
}

// .display-line {
//   display: flex;
//   // justify-content: space-between;
//   align-items: center;
// }


.product-name {
  top: 10px;
  left: 10px;
  padding-top: 5px;
  font-size: 24px;
}

#brand {
  font-size: 14px;
  text-align: right;
  text-transform: capitalize;
}

#heart-icon-off {
  color: white; 
  opacity: 0.8; 
  position: absolute;
  top: 5px;
  font-size: 200%;
  right: -30px;
  text-shadow: 1px 1px 5px black;
  width: 15px;
}

#heart-icon-on {
  color: #c13144; 
  opacity: 1; 
  position: absolute;
  top: 5px;
  font-size: 200%;
  right: -30px;
  text-shadow: 1px 1px 5px black;
  width: 15px;

}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 0.4fr 5fr;
  padding: 0px  ;
  grid-auto-rows: auto;
  min-height: 0;
  flex: 1;
}
.grid-item-a {
  // border: 1px solid rgba(0, 0, 0, 0.8);
  max-height: 400px;
  font-size: 30px;
  // text-align: right;
  // padding: 3px;
  display: inline-flex;
  position: relative;
  // flex-direction: column-reverse;
  // justify-content: center;
  // height: 100%;
  // width: 100%;
  // overflow: hidden;
  // flex-direction: column;

// flex-grow: inherit;
// flex-wrap: wrap;
}

.grid-item-b {
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
   position: relative;
}

.grid-item-c {
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
  display: grid;
  grid-gap: 2px;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 30% 70%;
  //  position: relative
}

.grid-item-c-top {
  grid-column: 1 / 3;
  grid-row: 1;
  padding-right: 10%;
}

.grid-item-c-down-left {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
}

.grid-item-c-down-right {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}

.absoluter {
position:absolute;
top: 10px;
}

// .nutritional-flow {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   // padding: 20px;
// }

// .foot-flex {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   padding: 40px;
// }

// .box {
//   position: relative;
//   height:130px;
// }

// .grade {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }

// .grade-circle {
//   border-radius: 50%;
//   text-align: center;
//   padding-top: 10px;
//   border: 1px solid #C13144;
//   width: 40px;
//   height: 40px;
//   margin-right: 20px;
// }

// .flex {
//   display:flex;
//   align-items: center;
//   justify-content: space-around;
//   width: 120px;
// }
