.detail-page {
  background-color: whitesmoke;
  overflow: hidden;
}

.detail__photo {
  max-height: 240px;
  max-width: 85vw;
}

.detail__photo-method {
  max-height: 240px;
  max-width: 85vw;
}

.detail__photo-wrap {
    max-width: 650px;
    min-height: 420px;
    text-align: center;
    border-radius: 50%;
    margin-top: -185px;
    margin-right: -125px;
    margin-left: -125px;
    padding-top: 210px;
    padding-bottom: 45px;
    background-color: white;
    z-index: 9;
}

.detail__product-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 65px;
    height: 65px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;

    &.product-good {
      background-color: #54bd54;
    }

    &.product-medium {
      background-color: #ffbd00;
    }

    &.product-bad {
      background-color: #ed5454;
    }
}

.detail__product-score-number {
    border-bottom: 1px solid white;
    display: block;
    min-width: 40px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.detail__product-info-section {
    position: relative;
    padding: 35px 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 5px 18px 3px #eeeeee;
    margin-bottom: 70px;

    &:nth-last-child(1) {
        margin-bottom: 0px;
    }
}

.detail__product-info-header {
    margin-top: 30px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #828282;
    margin-top: 30px;

    &:nth-child(3) {
      margin-top: 5px;
    }
}

.detail__product-body {
    font-size: 16px;
    color: black;
}

.detail__product-body--lg {
    font-size: 24px;
}

.detail__product-section-header {
    position: absolute;
    top: -21px;
    left: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 24px;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
}

.detail__product-section-header--higher {
    top: -34px;
    line-height: 27px;
}

.detail__product-heart {
    position: absolute;
    top: -19px;
    right: 26px;
    font-size: 35px;
    color: #b8b6b6;
}

.detail__product-heart--active {
    color: red;
}

.detail__product-chemical-lozenge-wrap {
    display: flex;
    flex-wrap: wrap;
}

.detail__product-chemical-lozenge {
    width: 33.33%;
    background: #F4F4F4;
    padding: 8px;
    margin: 10px 5px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    text-align: center;
}

.detail__nutrient-table {
    margin-left: -100px;
    margin-right: -155px;
}


#valor {
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
  // background-color: #dbdada;
  padding: 7px 7px 25px 7px;
  // box-shadow: 2px 2px 3px black;
}

.icons {
  width: 22px;
  height: 22px;
  padding-right: 1px;
  margin-top: -3px;
}

.space p {
  // added margin to higher nutrition section
  // margin: 15px 0 0 0;
  padding-right: 5px;
  // border-bottom: 1px solid black;
}

.nutrient-section {
  position: relative;
  height: 50px;
  // centered text between lines
  padding-top: 15px;
}

.nutrient-section:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 50%;
  left: 20%;
  height: 1px;
  // background-color: $gray;
  background-color: #e3e3e3;
}
.nutrient-section:nth-child(2){
  padding-left: 20px;
  margin-top: -20px;
}

.nutrient-section:nth-child(4){
  padding-left: 20px;
  margin-top: -20px;
}

.nutrient-section:nth-child(1):after {
  visibility: hidden;
}

.nutrient-section:nth-child(3):after {
  visibility: hidden;
}

// not displaying last gray line
.nutrient-section:nth-last-child(1):after {
  height: 0px;
}

// .button-space {
//   margin: 0;
//   padding: 0;
//   height: 40px;
// }

.line {
  padding: 20px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.line  p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

hr {
  border: 0;
  border-top: 1px solid #C7CAC5;
  margin: 10px;
}

#heart {
  color: white;
  opacity: 0.9;
  position: absolute;
  top: 120px;
  right: -23px;
  font-size: 100%;

  text-shadow: -1px 1px 2px black;
}

#heart-incl-product {
  color: red;
  opacity: 0.9;
  position: absolute;
  top: 120px;
  right: -23px;
  font-size: 100%;
  text-shadow: -1px 1px 2px black;
}

#heart-show {
   color: white;
   opacity: 0.9;
   position: absolute;
   top: 120px;
   right: -23px;
   font-size: 100%;
   text-shadow: -1px 1px 2px black;
}

.photo-container{
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  // position: relative;
}

.photo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  padding: 10px 0 10px 10px;
  object-position: center;
  // height:100%;
  // min-height: 0%;
  // max-height: 300px;
  // overflow: hidden;
  // width: 50%;
  // margin:10px;
}

.grade-image {
  max-width: 35%;
  height:auto;
  overflow: hidden;
  -webkit-filter: drop-shadow(-1px 1px 1px #000);
  filter: drop-shadow(-1px 1px 1px #000);
  // position: relative;
  // left: -65px;
  // width: 50%;
  // margin:10px;
}

// .product {
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }


.separator {
  margin-top: 0px;
  background-color: #E0E0E0;
  color: #1f1c1c;
  // 1D1A1A
  height: 40px;
  // box-shadow: 2px 2px 3px black;
  text-align: center;
  p {
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
  }
  // vertical-align: middle;
}

.chemical-click {
  display: flex;
  flex-wrap: wrap;
  // changed for centered text without chemicals
  justify-content: space-around;
    // justify-content: space-between;
  padding: 20px;
}

.button-chemical {
   width: 29.5%;
    background: #b8b6b6;
    padding: 8px;
    margin: 10px 5px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.button-chemical-good {
    background: #74E575;
    background: $green;
}

.button-chemical-medium {
  background: $orange;
}

.button-chemical-bad {
  background: $red;
  color: #ffffff;
}


// for red button white text
#redish a {
  color: white;
}

#yellowish a {
  color: white;
}

#greenish a {
  color: white;
}

.button-chemical-unknown {
  background: #b8b6b6;
  color: #ffffff;
}

// #add-white {
//   color: white;
// }

.white-text{
  color: white;
}
.white-text:hover{
  color: white;
}

// .display-line {
//   display: flex;
//   // justify-content: space-between;
//   align-items: center;
// }

.product-name {
  top: 10px;
  left: 10px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 20px;
  text-align: left;
  color: #1D1A1A;
  font-weight: 500;
  // text-transform: initial;
}

#brand {
  font-size: 14px;
  text-align: right;
  text-transform: capitalize;
  text-align: left;
  padding-left: 15px;
  color: #1D1A1A;
  font-weight: 500;

}

#heart-icon-off {
  color: white;
  opacity: 0.8;
  position: absolute;
  top: 5px;
  font-size: 200%;
  right: -30px;
  text-shadow: 1px 1px 5px black;
  width: 15px;
}

#heart-icon-on {
  color: #c13144;
  opacity: 1;
  position: absolute;
  top: 5px;
  font-size: 200%;
  right: -30px;
  text-shadow: 1px 1px 5px black;
  width: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 0.4fr 5fr;
  padding: 0px  ;
  grid-auto-rows: auto;
  min-height: 0;
  flex: 1;
}
.grid-item-a {
  // border: 1px solid rgba(0, 0, 0, 0.8);
  width: 150px;
  height: 150px;
  font-size: 30px;
  // text-align: right;
  // padding: 3px;
  display: inline-flex;
  position: relative;
  // flex-direction: column-reverse;
  // justify-content: center;
  // height: 100%;
  // width: 100%;
  // overflow: hidden;
  // flex-direction: column;

// flex-grow: inherit;
// flex-wrap: wrap;
}

.grid-item-b {
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
   position: relative;
}

.grid-item-c {
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
  display: grid;
  grid-gap: 2px;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 30% 70%;
  //  position: relative
}

.grid-item-c-top {
  grid-column: 1 / 3;
  grid-row: 1;
  padding-right: 10%;
}

.grid-item-c-down-left {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
}

.grid-item-c-down-right {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}

.absoluter {
  position:absolute;
  top: 10px;
}

.modal-button {
  border-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
}

.button-back{
  color: gray;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

