.container-center {
  padding: 50px;
}
.text-center {
  text-align: center;
}
.submit-button {
  background-color: $blue;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.button-message a:hover {
  color: $dark-gray;
}

// btn btn-success
// .form-login2 {
//   margin-top: 50px;
//   background-color: white;
//   background: linear-gradient rgba(255,255,255, 0.3);
//   padding: 10px 20px;
//   border-radius: 3px;
//   box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
//   h2 {
//     font-size: 25px;
//     font-weight: bold;
//     margin-bottom: 25px;
//     text-align: center;
//   }
//   .btn {
//     width: 100%;
//     margin-bottom: 20px;
//   }
// }

