// apply css even from _forms.scss in components

// .container-center {
//   height: 100vh;
//   max-width: 100%;
//     // margin-right: auto;
//     // margin-left: auto;
//     // padding-left: 15px;
//     // padding-right: 15px;
//   // padding: 50px;
// }

// forcing the form classes to change

// name of label on the left
.form-group {
  text-align: left;
  text-transform: capitalize;
}

// name h2 of sign in/up centered
.form-group h2 {
  text-align: center;
}

// make recommandation for password visible
.text-muted {
  color: #8f8f8f;
  padding-left: 5px;
}

label {
  padding-left: 5px;
  text-align: left;
}

// sku make more visible
.sku-form {
  color: #a2a2a2;
  font-size: 15px;
}

.text-center {
  text-align: center;
}

.form-actions .submit-button {
  background: linear-gradient(to top, #60d364, #9fdf6d);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 9px 15px;
  margin: 25px;
  text-transform: uppercase;
  min-width: 50%;
  box-shadow: 1px 1px 1px #96a3a8;
  letter-spacing: 1.1px;
}

.form-actions .submit-button a:hover {
  color: $light-gray;
}

.submit-button a:hover {
  color: $light-gray;
}

// input[type=submit].submit-button {

// }

.form-inputs {
  box-shadow: 0;
}

// // apply our button style
// input[type=submit] .submit-button{
// background-color: $blue;
//   color: white;
//   border-radius: 5px;
//   text-align: center;
//   padding: 9px 15px;
//   margin: 25px;
//   text-transform: uppercase;
//   min-width: 50%;
//   box-shadow: 1px 1px 1px #96a3a8;
//   letter-spacing: 1.1px;
// }

