/* Removing padding and margin from
the specified elements: */
html,
body {
    // line-height: 1;
    border-width: 0;
}
/* a <div> is already 100% wide,
so we specify only the height,
and ensure that any lengths
are calculated to include
border-width, padding and margin
using the box-sizing property: */
.fullpage {
    height: 100vh;
    box-sizing: border-box;
}
/* purely so that there is something
to see easily, irrelevant to the
demo: */
div:nth-child(odd) {
    //  background-color: #f90;
}
div {
    // min-height: 2em;
    margin: 0;
    padding: 0;
}


.home-wrapper {
    background: #B0F37B;  /* fallback for old browsers */
    background: linear-gradient(to right, #60d364, #9fdf6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: -53px;
}

.home__camera-prompt {
    color: white;
    text-align: center;
    margin: auto;
    max-width: 160px;
    margin-bottom: 1rem;
}


.home__camera-button-wrap {
    text-align: center;
    margin: auto;
}

.home__camera-button {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;

    i {
      color: grey;
    }
}

.banner {
    color: white;
    text-align: center;
    height: 64vh;
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container {
    position: absolute;
    top: 87px;
}
.banner h1 {
    font-size: 50px;
    font-weight: bold;
}
.banner__tagline {
    font-size: 18px;
    max-width: 245px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.fake-navbar {
    position: relative;
}

.button-navbar {
    // position: absolute;
    // top: 18px;
    // right: 10px;
}

.barcode-input{
        // margin-left: 0px;
        // margin-right: 0px;
        // position: absolute;
        // bottom: 183px;
        // position: fixed;
        // bottom: 20%;
        // left: 50%;
        // transform: translate(-50%, -50%);
}

.fake-footer {
    position: relative;
}
.button-footer {
    text-align: center;
    // left: 50%;
    // -webkit-transform: translateX(-50%);
    // transform: translateX(-50%);
}

.fake-topfooter {
    position: relative;
}
.button-topfooter {
    text-align: center;
}

.form-css {
    padding-bottom: 20px;
    width: 40%;
    margin: auto;
    min-width: 32%;
    padding-bottom: 24px;
    display: block;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #C7CAC5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease
}

.login {
    color: white;
    font-size: medium;
    text-decoration: none !important;
}

.btn-circle {
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 0;
    border-radius: 45px;
  }

.drawingBuffer {
    position: absolute;
    top: 0;
    left: 0;
  }

.modal-body {
    position: relative;
}
.modal-body:after {
    background-image: url("https://image.flaticon.com/icons/svg/127/127936.svg");
    background-size: cover;
    border-radius: 5%;
    border: 5px solid #B0F37B;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    background-color: #B0F37B;
}

