.message-page {
  // padding-top: 40%;
  justify-content: center;
  padding-bottom: 70px;
}

.message {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 40px;
}

.message-photo {
  width: 50%;
  max-width: 350px;
}

div {
  margin: 0;
}

.message-text {
  padding: 20px 0;
  text-align: center;
}

.button-message {
  margin: 30px 0;
  // padding-left: 0px;
}

.button-message a {
  // background-color: $green;
  background-color: #3fabc6;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}

.button-message a:hover {
  color: $dark-gray;
}

.separator-message {
  margin-top: 0px;
  background-color: #e0e0e0;
  color: #1f1c1c;
  height: 35px;
  // box-shadow: 2px 2px 3px black;
  text-align: center;
  p {
    padding-top: 8px;
    font-size: 16px;
    letter-spacing: 1.2px;
  }
}

.text-message {
  padding: 40px;
  text-align: justify;
}

.line {
  text-align: center;
}
// .centerphoto {
//   align-item: center;
//   justify-content: center;
//   width: 200px;
//   height: 200px;
//   display:flex;
