<div class="footer">
  <div class="footer-links">
    <a href="/products"><i class="fa fa-heart"></i></a>
    <a href="/"><i class="fa fa-camera"></i></a>
    <a href="/queries"><i class="fa fa-history"></i></a>
  </div>
</div>
