<!-- style="padding-bottom: 77px;" -->
<div class="container" style="padding-bottom: 77px;">
  <div class="form-login2">
    <h2>Enviar un email</h2>
      <form action="/">
        <label for="fname">Nombre</label>
        <input type="text" id="fname" name="firstname" placeholder="Su nombre...">

        <label for="lname">Apellido</label>
        <input type="text" id="lname" name="lastname" placeholder="Su apellido...">

        <label for="country">País</label>
        <select id="country" name="country">
          <option value="australia">España</option>
          <option value="canada">Brasil</option>
          <option value="usa">Otro</option>
        </select>

        <label for="subject">Tema</label>
        <textarea id="subject" name="subject" placeholder="Escriba algo..." style="height:200px"></textarea>
        <div class="text-center">
          <input type="submit" value="Submit" class="btn submit-button">
        </div>
      </form>
  </div>
</div>
<%= render 'shared/footer' %>
