

<div class="button-navbar" style="color: white;font-size: medium;text-decoration: none;">
  <%= link_to "LOG IN", user_session_path, style: "color: white;font-size: medium;text-decoration: none;" %>
</div>
<div class="banner">

  <div class="banner-content banner-container">
	<%= image_tag("logo.png", height: 100, crop: :fill)%>
    <h1>eatamina</h1>
    <p>¡Descrifra lo que comes en un click!</p>
		
  </div>
</div>
<div class="gradient-fill">
	<div class="button-topfooter">
		<p style="color: #686868;font-size: small;">ESCANEA EL CODIGO DE BARRAS</p>
	</div>
</div>
<div class="gradient-fill">
	<div class="button-footer">
 	 	<span class="input-group-btn">
			<button class="btn-circle" type="button" data-toggle="modal" data-target="#livestream_scanner">
				<i class="fa fa-camera" style="font-size:25px;color:#686868"></i>

			</button>
		</span>
	</div>
</div>



    <div class="row gradient-fill" style="margin-left: 0px;margin-right: 0px;">
    	<div class="col-lg-6">
    		<div class="input-group hidden" >
    			<%= form_tag root_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              id: "scanner_input",
              placeholder: "Write a barcode"
            %>
          <% end %>
    		</div><!-- /input-group -->
    	</div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="modal" id="livestream_scanner">
    	<div>
    		<div>
    				<div class="modal-body" style="position: absolute;top: -8px;left: calc(50%);transform: translateX(-50%);">
    					<div id="interactive" class="viewport"></div>
    			</div>
    		
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




