<div class="home-body"></div>
  <div class="container">
      <div class="featured-sign">
        <div class="sign">
          <h2>Como funciona</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="tutorial-steps">
            <div class="tutorial-description">
              <h3><strong>1 </strong>Escanea el código de barras del producto</h3>
              <br>
              <p style="text-align: justify;">Para tener una mejor lectura, centre el código de barras delante de la cámara o puede escribirlo manualmente dentro de la celda.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-4 col-md-4">
          <div class="tutorial-steps">
            <%= image_tag("https://cdn.britannica.com/700x450/57/43857-004-52EE48DE.jpg", class: 'tutorial-image') %>
          </div>
        </div>
      </div>

      <div class="space-maker"></div>

      <div class="row">
        <div class="col-xs-4 col-md-4">
          <div class="tutorial-steps">
            <%= image_tag("https://www.bankbazaar.com/images/india/infographic/credit-score.png", class: 'tutorial-image', style: 'margin-top: 143px;') %>
          </div>
        </div>

        <div class="col-xs-6 col-md-6">
          <div class="tutorial-steps">
            <div class="tutorial-description">
              <h3><strong id="number-of-step">2 </strong>Recibe la información del producto</h3>
              <br>
              <p style="text-align: justify;">La calificación del producto se basa en 3 criterios:
              La calidad nutricional representa el 60% del puntaje. El método de cálculo se basa en las recomendaciones del Profesor Serge Hercberg.
              La presencia de aditivos en el producto representa el 30% del puntaje. De muchas fuentes que han estudiado la peligrosidad de los aditivos alimentarios, clasificamos los aditivos según su grado de nocividad: sin impacto (verde), dudoso (amarillo), evitar (anaranjado), nocivo (rojo).
              La dimensión biológica representa el 10% de la puntuación.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="space-maker"></div>

      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="tutorial-steps">
            <div class="tutorial-description">
              <h3><strong>3 </strong>Entiende los efectos sobre la salud de aditivo </h3>
              <br>
              <p style="text-align: justify;">Vaya a cada aditivo en su comida para comprender los problemas de comer con un solo clic.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-4 col-md-4">
          <div class="tutorial-steps">
            <%= image_tag("http://nutritionglobal.com/wp-content/uploads/2015/01/Harmful-Effects-of-Food-Additives.jpg", class: 'tutorial-image') %>
          </div>
        </div>
      </div>

      <div class="space-maker"></div>

    </div>
  <%= render 'shared/footer' %>
</div>
