  <div class="detail-page">
        <div class="detail__photo-wrap">
           
              <%= image_tag 'https://gastronomiaycia.republica.com/wp-content/uploads/2017/03/nutriscore-680x444.jpg',  class:"detail__photo-method" %>
  
        </div>

<div class="container--regular" style="margin-top: 55px;">
            <div class="detail__product-info-section">
    <p class="detail__product-section-header">Método de clasificación</p>
     <p class="detail__product-info-header" style="color: #1D1A1A;">
                   <strong>1 </strong>Calidad Nutricional
                </p>
     <p class="detail__product-body" style="text-align: justify; color: #686868;">
La calidad nutricional representa el <strong>60%</strong> del puntaje. El método de cálculo se basa en las recomendaciones del Profesor Serge Hercberg como parte de la Estrategia Nacional de Salud propuesta por el Estado y validada en la creación de Nutriscore. Este método tiene en cuenta los siguientes elementos: calorías, azúcar, sal, grasas saturadas, proteínas, fibras, frutas y verduras. 
                </p>
            </div>
            
</div>

<div class="container--regular" style="margin-top: 40px;">
            <div class="detail__product-info-section">
 
     <p class="detail__product-info-header" style="color: #1D1A1A;">
                   <strong>2 </strong>Dimensión Biológica
                </p>
     <p class="detail__product-body" style="text-align: justify; color: #686868;">
La dimensión biológica representa el <strong>10%</strong> de la puntuación. Los productos considerados orgánicos son aquellos con la etiqueta orgánica francesa (AB) y / o la etiqueta ecológica europea (Eurofeuille).
                </p>
            </div>
            
</div>
<div class="container--regular" style="margin-top: 40px;">
            <div class="detail__product-info-section">
 
     <p class="detail__product-info-header" style="color: #1D1A1A;">
                   <strong>3 </strong>Presencia de Aditivos
                </p>
     <p class="detail__product-body" style="text-align: justify; color: #686868;">
La presencia de aditivos en el producto representa el <strong>30%</strong> del puntaje. De muchas fuentes que han estudiado la peligrosidad de los aditivos alimentarios, clasificamos los aditivos según su grado de nocividad: sin impacto (verde), evitar (anaranjado), nocivo (rojo).
                </p>
            </div>
            
</div>

<%= render 'shared/footer' %>

