<div class="home-body"></div>
  <div class="container">
      <div class="featured-sign">
        <div class="sign">
          <h2>Score Method</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="tutorial-steps">
            <div class="tutorial-description">
              <h3><strong>1 </strong>Calidad Nutricional</h3>
              <br>
              <p style="text-align: justify;">La calidad nutricional representa el 60% del puntaje. El método de cálculo se basa en las recomendaciones del Profesor Serge Hercberg como parte de la Estrategia Nacional de Salud propuesta por el Estado y validada en la creación de Nutriscore, que es una marca de Public Health France. Este método tiene en cuenta los siguientes elementos: calorías, azúcar, sal, grasas saturadas, proteínas, fibras, frutas y verduras. El informe completo está disponible aquí.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="tutorial-steps">
            <%= image_tag("https://www.bankbazaar.com/images/india/infographic/credit-score.png", class: 'tutorial-image', style: 'margin-top: 96px;') %>
          </div>
        </div>
      </div>

      <div class="space-maker"></div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="tutorial-steps">
            <%= image_tag("http://zdravaprehrana.info/wp-content/uploads/2016/11/organska-hrana.jpg", class: 'tutorial-image', style: 'margin-top: -75px;') %>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="tutorial-steps">
            <div class="tutorial-description">
              <h3><strong id="number-of-step">2 </strong>Dimensión Biológica</h3>
              <br>
              <p style="text-align: justify;">La dimensión biológica representa el 10% de la puntuación. Los productos considerados orgánicos son aquellos con la etiqueta orgánica francesa (AB) y / o la etiqueta ecológica europea (Eurofeuille).</p>
            </div>
          </div>
        </div>
      </div>

      <div class="space-maker"></div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="tutorial-steps">
            <div class="tutorial-description">
              <h3><strong>3 </strong>Presencia de Aditivos</h3>
              <br>
              <p style="text-align: justify;">La presencia de aditivos en el producto representa el 30% del puntaje. De muchas fuentes que han estudiado la peligrosidad de los aditivos alimentarios, clasificamos los aditivos según su grado de nocividad: sin impacto (pellet verde), dudoso (pellet amarillo), evitar (pellet anaranjado), nocivo (pellet rojo).</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="tutorial-steps">
            <%= image_tag("http://nutritionglobal.com/wp-content/uploads/2015/01/Harmful-Effects-of-Food-Additives.jpg", class: 'tutorial-image', style: 'margin-top: 66px;') %>
          </div>
        </div>
      </div>

      <div class="space-maker"></div>

    </div>
</div>
<%= render 'shared/footer' %>

