<%= simple_form_for [request] do |f| %>
  <% if request.errors.any? %>
    <div class="errors-container">
      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :status, collection: ["pending", "accepted", "declined"] %>
  <%= f.submit "Update", class: "btn btn-blue" %>
<% end %>
