<h3>Your Liked Products</h3>
<p>You liked <%=@liked_products.length%> products</p>
<% @liked_products.each do |product|%>
  <p><%= link_to product.name, product_path(product) %></p>
  <% if product.photo? %>
    <%= image_tag product.photo, height: 300, width: 400, crop: :fill%>
  <% end %>
<% end %>
