<div class="width-wrapper">
  <div class="container-index">
    <div class="title-header">
      <h3>This product is not inside our database</h3>
    </div>
    <div class="title-header2">
      <p>If you want to help we to improve this amazing feature, provide some data about this product than our team will evaluate the product and we can help together the entiire world to be healthy</p>
    </div>
    <%= link_to "Create a new product", edit_product_path(session[:new_product]["id"])%>
    <%= link_to "Home Page", root_path %>
  </div>
</div>
<%= render 'shared/footer' %>
